@import url("https://fonts.googleapis.com/css?family=Barlow:200,300,400,500,600,700,800,900&display=swap");
@font-face { 
  font-family: 'CeraProMedium';
  src: url("../fonts/Cera/Cera-Pro-Medium.otf.otf");
}

@font-face { 
  font-family: 'CeraProRegular';
  src: url("../fonts/Cera/Cera-Pro-Regular.otf.otf");
}



body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  background-color: #FFFFFF;
  -webkit-tap-highlight-color: transparent;

}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}


h1 { 
  color:#202328;
  font-weight:700;
  font-size:50px;
  font-family: 'CeraProMedium';
}


h2{ 
  color:#F37029;
  font-weight:400;
  font-size:25px;
  font-family: 'CeraProMedium';
}

h3 { 
  color:#FFF;
  font-weight: 200;
  font-size:30px;
  font-family: 'CeraProRegular';
}

h4 { 
  color:#2d252d;
  font-weight: 200;
  font-size:25px;
  font-family: 'CeraProRegular';
  margin: 0;
}

h5 { 
  color:#107064;
  font-weight: 400;
  font-size:35px;
  font-family: 'CeraProMedium';
  margin: 0;
}

p { 
  color: #2d252d;;
  font-weight: 200;
  font-size:20px;
  font-family: 'CeraProRegular';
  line-height: 30px;
  
}

li { 
  color:#A6A6A6;
  font-weight:400;
  font-size:25px;
  font-family: 'CeraProMedium';
  margin:50px 0;
}


span { 
  color:#fff;
  font-weight:200;
  font-size:15px;
  font-family: 'CeraProRegular';
  
}


.row { 
display: flex;
flex-direction: row;

}


.column { 
  display: flex;
  flex-direction: column;
  
  }

a { 
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}



  



